:root {
  --bg-color: hsl(49 37% 94%);
  --typewriterSpeed: 6s;
  --typewriterCharacters: 28;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
}


#introText {
  font-weight: 700;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  width: max-content;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: black;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.resume-link-btn {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 300;
  text-decoration: none;
  color: black;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

.resume-link-btn:hover {
  text-decoration: underline;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




/* Mediaqueries */

@media (max-width: 600px) {

  #introText {
    font-size: clamp(1rem, 2vw + 1rem, 4rem);
  }

  .resume-link-btn {
    margin-top: 25px;
    font-size: 17px;
    font-weight: 200;
  }
}


@media (max-width: 400px) {
  #introText {
    font-size: clamp(1rem, 1vw + 1rem, 4rem);
  }

  .resume-link-btn {
    margin-top: 25px;
    font-size: 14px;
  }
}