:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterSpeed: 6s;
    --typewriterCharacters: 28;
 }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono', monospace;
    overflow-x: hidden;
    background: var(--bg-color);
}


.header {
    position: fixed;
    top: 0;
    padding: 0 60px;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 100;
}

.header-wrapper {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1100px;
}

.logo-link {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
}

.logo-wrapper {
    position: relative;
    padding: 6px;
    border-radius: 3px 0;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
}

.logo {
    overflow: hidden;
}

.logo-wrapper:before {
    top: 0;
    left: 0;
}

.logo-wrapper:after {
    bottom: 0;
    right: 0;
}

.logo-wrapper:before, .logo-wrapper:after {
    z-index: 2;
    content: "";
    border: 2px solid #000;
    border-radius: 5px;
    position: absolute;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
}

.logo-wrapper:hover {
    background-color: #000;
    color: #fff;
}

.fas {
    display: none;
    font-size: 34px;
}

.nav-links {
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links li {
    position: relative;
    margin: 0 20px;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: rgb(87, 85, 85);
}

.nav-links li a {
    text-decoration: none;
    color: rgb(87, 85, 85);
}

.nav-link::after,
.social-link::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 2px;
      background: #000;
      transform: scaleX(0);
      transform-origin: right center 0;
      transition: transform .7s cubic-bezier(.23,1,.32,1) 0s;
}

.nav-link:hover::after,
.social-link:hover::after {
    transform: scaleX(1);
    transform-origin: left center 0;
}

.nav-links li:hover {
    color: #000;
}



/* HERO */
#hero {
    margin-top: 70px;
    position: relative;
    width: 100%;
    min-height: calc(100vh - 70px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.hero-wrapper {
    display: flex;
    align-items: center;
}

.hero-left {
    padding-top: 60px;
    flex: 6;
}

.introTexts {
    margin-bottom: 30px;
}

h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}

p {
    font-size: 22px;
    font-weight: 300;
}

.btnWrapper {
    height: 80px;
    padding: 5px 0;
    display: flex;
    align-items: center;
}

.btnWrapper a {
    margin-left: 4px;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300px;
    color: #000;
    border: 1px solid #000;
    box-shadow: 3px 5px #000;
}

.btnWrapper a:hover {
    color: white;
    background-color: #000;
    border: none;
}

.hero-social-links-wrapper {
    margin-top: 50px;
}

.social-link {
    position: relative;
    margin-right:40px;
    text-decoration: underline;
    font-size: 18px;
    font-style: italic;
    font-weight: 300px;
    color: #000;
}

.linkedin, .github {
    margin-left: 40px;
}

.social-link:hover {
    text-decoration: none;
}

.hero-right {
    flex: 6;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hero-right-bg {
    width: 90%;
}

.image-wrapper {
    position: absolute;
    width: 50%;
    height: 75%;
    animation: float 3s ease infinite;
}

.statue-image {
    width: 100%;
}

@keyframes float {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(-10px);
    }
}


/* Mediaquieries */

@media (max-width: 600px) {

    .container {
        margin: 0 auto;
        padding: 0 40px;
        max-width: 1100px;
    }

    .header {
        padding: 20px;
    }

    .nav-links {
        display: none;
    }

    .fas {
        display: flex;
    }

    #hero {
        margin-top: 70px;
    }

    .hero-wrapper {
        flex-direction: column;
    }

    .hero-left {
        order: 2;
    }

    h1 {
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    
    p {
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }

    .social-link {
        margin-right: 20px;
        font-size: 15px;
    }
    
    .linkedin, .github {
        margin-left: 20px;
    }

    .hero-right {
        order: 1;
    }

}


@media (max-width: 400px) {


    h1 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 15px;
        font-weight: 300;
        line-height: 20px;
    }

    .social-link {
        margin-right: 16px;
        font-size: 15px;
    }
    
    .linkedin, .github {
        margin-left: 16px;
    }
}

@media (max-width: 380px) {


    h1 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        font-weight: 300;
        line-height: 20px;
    }

    .social-link {
        margin-right: 8px;
        font-size: 13px;
    }
    
    .linkedin, .github {
        margin-left: 8px;
    }
}